body {
  margin: 0;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #c08ec5;

  ;
}


h1{
  text-align: center; color: rgb(109, 106, 103);
}
h4{
  text-align: center; color: rgb(109, 106, 103);
}
.text{
  text-align: center;
  font-family:'Century Gothic', monospace; color: rgb(17, 14, 14);
}
img{
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20;
  margin:10;
}